@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
}

.homepage{
	background: #0099cc;
	color: #fff;
}

.profile-page{
	background: #fff;
	color: #555;
}

.startpage{
	background: #fff;
}

.reportpage{
	background: #373A4C;
}

.wrap {
	overflow: hidden;
	/* we don't want the pseudo-elements sticking out */
}

.wrap svg {
	display: block;
}

.page-top{
	margin: 0 auto;
	padding: 15em;
	text-align: center;
}

.page-top-home{
	margin: 0 auto;
	padding: 5em;
	text-align: center;
}

.page-down{
	margin: 0 auto;
	text-align: center;
	font-size: 5em;
}

.page-top h1{
	font-size: 5em;
	line-height: 1;
	letter-spacing: 4px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.3em;
	color: rgba(0,0,0,0.2);
}

.page-top h1 span {
	color: white;
}

.page-top p {
	color: white;
	opacity: 0.5;
	display: block;
	font-size: 1.25em;
}

.page-top-home h1{
	font-size: 5em;
	line-height: 1;
	letter-spacing: 4px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.3em;
	color: rgba(0,0,0,0.2);
}

.page-top-home h1 span {
	color: white;
}

.page-top-home p {
	color: white;
	opacity: 0.5;
	display: block;
	font-size: 1.25em;
}

.pagesection1{
	background: #fff;
	padding:10em;
	color: #2980b9;
	visibility: hidden;
}

.pagesection2{
	background: #0099cc;
	padding:10em;
	visibility: hidden;
}

.pagesection3{
	background: #fff;
	padding:10em;
	color: #2980b9;
	visibility: hidden;
}

.pagesection4{
	background: #0099cc;
	padding:10em;
	visibility: hidden;
}

.pagesectionvisibility{
	visibility: visible;
}

.sectionleft{
	text-align: right;
	font-size: 1.25em;
}

.sectionright{
	text-align: left;
	font-size: 1.25em;
}

.welcomeright{
	text-align: left;
	font-size: 1.25em;
}

.sectionleft h2 {
	opacity: 0.75;
}

.sectionleft p {
	color: rgba(0,0,0,0.4);
}

.sectionright h2 {
	opacity: 0.75;
}

.sectionright p {
	color: rgba(0,0,0,0.4);
}

.welcomeright h2 {
	opacity: 0.85;
}

.welcomeright p {
	color: rgba(0,0,0,0.4);
}

.icon {
	display: block;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: rgba(0,0,0,0.1);
	color: #fff;
	text-align: center;
	font-size: 6em;
	line-height: 2em;
	margin: 0 auto;
}

.iconwhite {
	display: block;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: #0099cc;
	color: #fff;
	text-align: center;
	font-size: 6em;
	line-height: 2em;
	margin: 0 auto;
}

section {
	position: relative;
}

/* Common style for pseudo-elements */
section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

/* Triangles */
.ss-style-triangles::before,
.ss-style-triangles::after {
	left: 50%;
	width: 100px;
	height: 100px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
	top: -50px;
	background: #0099cc;
}


/* Clouds */
#clouds path {
	fill: #ecf0f1;
	stroke: #ecf0f1;
}

.footer {

	background: #fff;
	color: #777;
	text-align: center;
	width: 100%;
	padding:3em 4em 2em 4em;

}

.welcomebox {
  box-sizing: border-box;
  padding: 2em;
  background: #0099cc;
  border-radius: 4px;
  color: white;
}

.welcome{
  position:absolute;
  left: 50%;
  top: 50%;
}

/* Login styles */

#login{
	width: 15em;
	text-align: center;
	font-size: 1.75em;
}

.loginbox {
  box-sizing: border-box;
  padding: 2em;
  background: #0099cc;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.login{
  position:absolute;
  left: 50%;
  top: 50%;
}

#useraction{
	display: none;
}

/* General button style (reset) */
.bttn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	background: rgba(0,0,0,0.2);
	color: #fff;
	cursor: pointer;
	padding: 1em;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	
	font-family: 'Open Sans', sans-serif;
	border-radius: 2px;
}

.bttn span{
	display: inline-block;
	color: #fff;
}

.bttn:hover {
	background: rgba(0,0,0,0.4);
	color: #fff;
}

.bttn:active {
	background: rgba(0,0,0,0.6);
	top: 2px;
}

.bttn-small {
	border: none;
	font-family: inherit;
	font-size: inherit;
	background: rgba(0,0,0,0.2);
	color: #fff;
	cursor: pointer;
	padding: 0.65em;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
}

.bttn-small span{
	display: inline-block;
	color: #fff;
}

.bttn-small:hover {
	background: rgba(0,0,0,0.4);
	color: #fff;
}

.bttn-small:active {
	background: rgba(0,0,0,0.6);
	top: 2px;
}


/*******Header***********/
.header{
	background: #333;
	color: #fff;
	padding: 1em;
	position: relative;
}

.labname{
	font-size: 0.65em;
	color: #ccc;
}

.header-profile{
	background: #0099cc;
	color: #fff;
	padding: 1em;
	position: relative;
}

.header-left{
	padding-left: 2.5em;
	display: inline-block;
	font-size: 2em;
	color: #fff;
}

.header-right{
	padding-right: 2.5em;
	text-align: right;
	display: inline-block;
	font-size: 1.75em;
}

.side-icon{
	display: inline-block;
	padding: 0 1em;
	margin: 0 auto;
}

.icon-small {
	display: block;
	width: 2em;
	height: 2em;
	background: rgba(0,0,0,0.0);
	color: #fff;
	text-align: center;
	font-size: 0.85em;
	line-height: 2em;
	margin: 0 auto;
	display: inline-block;
}

.iconwhite-small {
	display: block;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	background: #0099cc;
	color: #fff;
	text-align: center;
	font-size: 1em;
	line-height: 2em;
	margin: 0 auto;
	display: inline-block;
}

.profile{
	font-size:0.65em; 
	color:#555;
}



input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
    height: 6px;
    width:100%;
    background: #aaa;
}

input[type=range]::-moz-range-track {
	border-radius: 6px;
    height: 6px;
    width:100%;
    background: #aaa;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
    border-radius: 2px;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance:none !important;
   background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
    border-radius: 2px;
}  

.inputbox{
	width:75px;
	color: #555;
	padding: 0.25em;
	text-align: center;
	background: #ddd;
    border:5px solid #F8F8F8;
    border-radius: 2px;
}

.inputbox:hover{
	-moz-box-shadow:    inset 0 0 10px #555;
   -webkit-box-shadow: inset 0 0 10px #555;
   box-shadow:         inset 0 0 10px #555;
   background: #fff;
}

.radio-toolbar input[type="radio"] {
  display: none;
  color: #fff;
}

.radio-toolbar label {
  display: inline-block;
  padding: 10px 20px;
  font-family: Arial;
  font-size: 16px;
  margin: 10px;
  background: rgb(53, 106, 160); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(53, 106, 160, 1) 0%,
    rgba(53, 106, 160, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(53,
    106, 160, 1)), color-stop(100%, rgba(53, 106, 160, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(53, 106, 160, 1) 0%,
    rgba(53, 106, 160, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(53, 106, 160, 1) 0%,
    rgba(53, 106, 160, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(53, 106, 160, 1) 0%,
    rgba(53, 106, 160, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(53, 106, 160, 1) 0%,
    rgba(53, 106, 160, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0',
    endColorstr='#356aa0', GradientType=0); /* IE6-9 */
  color: #fff;
}

.radio-toolbar input[type="radio"]:checked+label {
  background: rgb(143, 200, 0); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(143, 200, 0, 1) 0%,
    rgba(143, 200, 0, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(143,
    200, 0, 1)), color-stop(100%, rgba(143, 200, 0, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(143, 200, 0, 1) 0%,
    rgba(143, 200, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(143, 200, 0, 1) 0%,
    rgba(143, 200, 0, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(143, 200, 0, 1) 0%,
    rgba(143, 200, 0, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(143, 200, 0, 1) 0%,
    rgba(143, 200, 0, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc800',
    endColorstr='#8fc800', GradientType=0); /* IE6-9 */
  color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}


.modal-body{
	color: #0099cc;
	font-size: 2em;
}

.modal-footer button {
	background: #0099cc;
}


/***Loader***/
.loadingpage{
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.cont{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}

.spinner {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.spinner > div {
  width: 40px;
  height: 40px;
  background-color: #0099cc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/******Instructor******/

.instructor-page{
	background: #0099cc;
}

.instructor-header{
	background: #fff;
	text-align:center; 
	padding:2em; 
	font-size:1.5em;
}

.instructor-header span p{
	color: rgba(0,0,0,0.4);
	font-size: 1.75em;
}

.instructor-header p{
	color: rgba(0,0,0,0.3);
}

.instructor-content{
	color: #fff;
	font-size: 1.15em;
	padding: 2em;
	background: #0099cc;
}

.instructor-innercontent{
	padding: 2em;
	background: #0099cc;
}

.instrcutor-inputbox{
	width: 100%;
	padding: 0.55em;
	text-align: left;
    margin: 0;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #fff;
    color:#555;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size: 0.85em;
}

.instrcutor-selectbox{
	width: 100%;
	padding: 0.55em;
	text-align: left;
    margin: 0;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #fff;
    color:#555;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size: 0.85em;
}

.report-section{
	background:#373A4C; padding: 2em;font-size:1.25em; color: #fff;
}

/****Quiz Page****/

.quiz-page{
	background: #ddd;
}

.quiz-wrap{
	padding:0.5em 4em;
}

.quiz-header{
	padding: 1em;
}

.quiz-header strong {
	color: rgba(0,0,0,0.4);
	font-size: 0.75em;
}

.quiz-header span{
	color: rgba(0,0,0,0.4);
	font-size: 0.65em;
}

.quiz-header a strong{
	color: rgba(0,0,0,0.4);
	font-size: 1em;
	padding: 0 1em;
}

.quiz-header a strong:hover{
	color: rgba(0,0,0,0.5);
}

.quiz-btn{
	border: none;
	background: #5fcf80;
	color: #fff;
	cursor: pointer;
	padding: 0.5em 0.75em;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	position: relative;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	

	-webkit-box-shadow: 0 3px 0 #3ac162, 0 -1px #5fcf80 inset;
    -moz-box-shadow: 0 3px 0 #3ac162, 0 -1px #5fcf80 inset;
    box-shadow: 0 3px 0 #3ac162, 0 -1px #5fcf80 inset;
    font-size: 0.55em;
    font-weight: bold;
    border-radius: 5px;
}

.quiz-btn:hover {
	background: #5fcf80;
	color: #fff;
}

.quiz-btn:active {
	background: #5fcf80;
	top: 2px;
}

.quiz-btn-lite{
	border: none;
	background: #fff;
	opacity: 0.3;
	cursor: pointer;
	padding: 0.5em 1em;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	
    font-weight: bold;
    border-radius: 5px;
    color: rgba(0,0,0,0.8);
}

.quiz-btn-lite:hover {
	opacity: 0.4;
}

.quiz-btn-lite:active {
	opacity: 0.4;
	top: 2px;
}

.quiz-btn-smallscreen{
	font-size: 2em;
	padding: 1em;
	background: #fff;
	text-align: center;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}


.quiz-question-section{
	background: #0099cc;
	padding: 2em;
	border-radius: 0 0 5px 5px;
	color: #fff;
	font-size: 1.15em;
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

.quiz-question-section p strong{
	opacity: 0.6;
}

.quiz-question{
	font-size: 1.75em;
	font-weight: bold;
}

.quiz-description{
	opacity: 0.75;
}

.quiz-image{
	text-align: center;
	padding: 1em;
}

.quiz-progress{
	width: 100%;
	padding: 2em;
	background: #fff;
	border-radius: 5px 5px 0 0;

}

.quiz-progress span{
	color: rgba(0,0,0,0.3);
	font-size: 1.15em;
}

.quiz-sub-question-section{
	background: #fff;
	padding: 2em;
	color: rgba(0,0,0,0.5);
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

.quiz-icon{
	font-size: 3em;
}

.quiz-sub-question{
	font-size: 2em;
	font-weight: bold;
}

.quiz-sub-answer-section{
	background: #fff;
	opacity: 0.8;
	padding: 2em;
	font-size: 1.15em;
	color: rgba(0,0,0,0.5);
	font-weight: bold;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

.quiz-timer-section{
	background: #fff;
	padding: 2em;
	font-size: 1.15em;
	color: rgba(0,0,0,0.5);
	font-weight: bold;
	border-radius: 5px;
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
	text-align: center;
}

.quiz-num{
	background: #eee;
	padding: 1em;
	border-radius: 5px;
}

.quiz-inputbox{
	padding: 0.25em;
	font-size: 1.5em;
	text-align: center;
	background: #ddd;
    border:0;
    width: 100%;
}

.quiz-inputbox:hover{
	background: #eee;
}

.quiz-radio-section input[type="radio"]{
	display: none;
}

.quiz-radio-section label{
	display: block;
	padding: 1.25em 2em;
	background: #ddd;
  	color: #aaa;
  	border-radius: 5px;
  	cursor: pointer;
}

.quiz-radio-section label:hover{
	background: #eee;
	opacity: 1;
  	color: #555;
}

.quiz-radio-section label strong{
	padding: 0.25em 0.75em;
	border: 2px solid #aaa;
	color: #aaa;
	border-radius: 5px;
}

.quiz-radio-section label span{
	padding: 2em;
}

.quiz-radio-section input[type="radio"]:checked+label {
  background: #7ea568;
  color: #fff;
  -webkit-box-shadow: 0 5px 6px -6px black;
	   -moz-box-shadow: 0 5px 6px -6px black;
	        box-shadow: 0 5px 6px -6px black;
}

.quiz-radio-section input[type="radio"]:checked+label strong{
  color: #fff;
  border: 2px solid #fff;
}

#dragdropzone{
	padding:2em;
	background: #eee; 
	border-radius: 5px;
	text-align: center;
}

#inner-dropzone {
    padding:2em;
}

.dropzone {
    background-color: #ccc;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s;
}

.drop-target {
    background-color: #7ea568;
}

.drag-drop {
    display: inline-block;
    padding: 0.75em 2em;
    background-color: #61a9dc;
    color: #fff;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin: 5px;
}

.drag-drop:hover{
	opacity: 0.8;
}

.can-drop {
    background-color: #7ea568;
}

.error{
	background: #f06060;
	padding: 1em 2em;
	border-radius: 5px;
	color: #fff;
	font-size: 1.15em;
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

/**style the progress bar itself**/
progress{
	border: 0;
}

progress[value] {
  /* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 20px;
	border-radius: 5px;
}

progress[value]::-webkit-progress-bar {
	background-color: #ddd;
	border-radius: 5px;
}

progress::-moz-progress-bar {
	background-color: #0099cc;
	border-radius: 5px;
}

progress[value]::-webkit-progress-value {
	background-color: #0099cc;
	border-radius: 5px;
}