@media screen and (max-width: 1440px) {
	body{
		font-size: 1.35em;
	}
}

@media screen and (max-width: 1366px) {
	body{
		font-size: 1.35em;
	}
}

@media screen and (max-width: 1136px) {
	body{
		font-size: 1.35em;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

	body{
		font-size: 1.35em;
	}
	.page-top-home h1{
		font-size: 4.1em;
	}

	.page-top-home a{
		font-size: 1em;
		margin: 5px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){

	body{
		font-size: 1.35em;
	}

	.page-top-home h1{
		font-size: 4.1em;
	}

	.page-top-home a{
		font-size: 1em;
		margin: 5px;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){

	body{
		font-size: 1.3em;
	}

	.page-top-home h1{
		font-size: 4.1em;
	}

	.page-top-home a{
		font-size: 1em;
		margin: 5px;
	}
}

@media only screen and (min-width: 480px) and (max-device-width : 768px){
	body{
		font-size: 1.35em;
	}

	.quiz-wrap{
		padding:0.25em 2em;
	}

	.quiz-header{
		padding: 0.5em;
	}

	.page-top-home h1{
		font-size: 4em;
	}

	.page-top-home a{
		font-size: 1.15em;
		margin: 5px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

	body{
		font-size: 1.2em;
	}

	.quiz-wrap{
		padding:0.25em 2em;
	}

	.quiz-header{
		padding: 0.5em;
	}

	.page-top-home h1{
		font-size: 3.25em;
	}

	.page-top-home a{
		font-size: 1.15em;
		margin: 5px;
	}

	.loginbox{
		font-size: 0.85em;
	}
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px){

	body{
		font-size: 1em;
	}

	.page-top-home h1{
		font-size: 3em;
	}

	.page-top-home a{
		font-size: 1em;
		margin: 5px;
	}

	.loginbox{
		font-size: 0.75em;
	}

	.welcomebox{
		font-size: 1em;
	}
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5){

	body{
		font-size: 1em;
	}
}
